/*
* 一些公共的样式，定义在common.css内部，在每个页面中引入即可
* 通过类选择器来定义样式，哪个HTML元素需要这些样式，在它们的class属性中添加这个类即可
*/

.wrapper_01 {
  /* 宽度为1190的内容包裹，水平居中显示 */
  width: 1190px;
  margin: 0 auto;
}

.wrapper_02 {
  width: 980px;
  margin: 0 auto;
}

.wrapper_03 {
  width: 982px;
  margin: 0 auto;
}

/* hot图标 */
.icon_hot {
  width: 28px;
  height: 19px;
  background: url(https://s2.music.126.net/style/web2/img/frame/topbar.png?e52adade1f4df5e242dac8537a78c78e) -190px 0;
}

/* 主界面中标题栏公共部分样式，html元素的标准结构：
  .top_title_type01>h3.title+a.more[href=#]
*/
.top_title_type01 {
  display: flex;
  justify-content: space-between;

  
  border-bottom: 1px solid #ccc;
}

.top_title_type01 .title {
  color: #333;
}

.top_title_type01 .more {
  color: #666;

}

.top_title_type01 .more:hover {
  text-decoration: underline;
}