.main .area {
  display: flex;
  justify-content: space-between;

  border: solid #d3d3d3;
  border-width: 0 1px;
  min-height: 700px;
  background: url(https://s2.music.126.net/style/web2/img/frame/wrap1.png?242c61d67b776e085d45aef9f27b6779) repeat-y 100% 100%;
}

.main .area .area-left {
  width: 729px;
  padding: 20px 20px 40px;
  /* 明确指定了宽度，一定要防止内容超出！ */
  box-sizing: border-box;
}

.main .area-left .hot-recommend-seciton .categoly-list {
  flex: 1;
  display: flex;
  align-items: center;
  
  padding-bottom: 5px;
  margin-left: 15px;
}

.main .area-left .hot-recommend-seciton .categoly-list .item {
  display: block;
  color: #666;
  margin: 10px;
}

.main .area-left .hot-recommend-seciton .categoly-list .item:hover {
  text-decoration: underline;
}

.main .area-left .hot-recommend-seciton .main-content-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 20px 5px;
}

.main .area-left .hot-recommend-seciton .main-content-list .item {
  width: 140px;

  margin: 10px 0;
}

.main .area-left .hot-recommend-seciton .main-content-list .item .top {
  position: relative;
}

.main .area-left .hot-recommend-seciton .main-content-list .item .top img {
  display: block;
}

.main .area-left .hot-recommend-seciton .main-content-list .item .top .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-position: 0 0;
}

.main .area-left .hot-recommend-seciton .main-content-list .item .top .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 27px;
  padding-left: 10px;
  line-height: 27px;

  font-size: 12px;
  color: #ccc;
  background-position: 0 -537px;
}

.main .area-left .hot-recommend-seciton .main-content-list .item .top .info .icon-music {
  position: relative;
  top: 2px;

  display: inline-block;
  width: 14px;
  height: 11px;

  background-position: 0 -24px;
}

.main .area-left .hot-recommend-seciton .main-content-list .item .top .info .count {
  margin-left: 4px;
}

.main .area-left .hot-recommend-seciton .main-content-list .item .top .info .icon-play {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;

  display: inline-block;
  margin: auto;
  width: 16px;
  height: 17px;

  background-position: 0 0;
}

.main .area-left .hot-recommend-seciton .main-content-list .item .bottom {
  display: block;
  margin-top: 8px;

  font-size: 14px;
  color: #333;
}

.main .area-left .hot-recommend-seciton .main-content-list .item .bottom:hover {
  text-decoration: underline;
}

.main .area-left .hot-recommend-seciton .main-content-list .item .bottom .icon-radio-program {
  width: 35px;
  height: 15px;

  background-position: -31px -658px;
}

.main .new-music-seciton .music-list-banner {
  height: 186px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
}

.main .new-music-seciton .music-list-banner .content {
  position: relative;

  height: 100%;
  padding: 0 20px;
  border: 1px solid #fff;
  box-sizing: border-box;

  background-color: #f5f5f5;
}

.main .new-music-seciton .music-list-banner .banner-roll-area {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.main .new-music-seciton .music-list-banner .banner-roll-area .roll-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 为了实现轮播，不要让flex-item自动压缩 */
  flex-shrink: 0;

  width: 100%;
  box-sizing: border-box;
}

.main .new-music-seciton .music-list-banner .banner-roll-area .roll-item .item {
  width: 118px;
  height: 150px;

  background-position: -260px 100px;
}

.main .new-music-seciton .roll-item .item .disc {
  position: relative;

  display: block;
  width: 118px;
  height: 100px;

  background-position: 0 -570px;
}

.main .new-music-seciton .roll-item .item .disc .cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-position: 0 -570px;
}

.main .new-music-seciton .roll-item .item .disc:hover .icon-play {
  position: absolute;
  right: 25px;
  bottom: 5px;

  width: 22px;
  height: 22px;
  
  background-position: 0 -110px;
}

.main .new-music-seciton .roll-item .item .disc-info {
  display: block;
  padding-right: 10px;
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main .new-music-seciton .roll-item .item .disc-name {
  margin-top: 8px;
  color: #000;
}

.main .new-music-seciton .roll-item .item .disc-singer {
  margin-top: 5px;
  color: #666;
}

.main .new-music-seciton .roll-item .item .disc-info:hover {
  text-decoration: underline;
}

.main .new-music-seciton .content .control {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 17px;
  height: 17px;
  margin: auto 0;
}

.main .new-music-seciton .content .control-left {
  left: 3px;
  background-position: -280px -75px;
}

.main .new-music-seciton .content .control-right {
  right: 3px;
  background-position: -320px -75px
}

.main .area-left .rankings-seciton .ranking-table {
  display: flex;

  height: 472px;
  margin-top: 20px;

  background: url(https://s2.music.126.net/style/web2/img/index/index_bill.png?d165e7a265cec257d819094b51085fd0) no-repeat 0 0;
}

.main .area-left .ranking-table .rank-list {
  width: 230px;
}

.main .area-left .ranking-table .rank-list .rank-list-header {
  display: flex;

  height: 120px;
  padding: 20px 0 0 20px;
  box-sizing: border-box;
}

.main .area-left .ranking-table .rank-list .rank-list-header .album {
  position: relative;

  width: 80px;
  height: 80px;
}

.main .area-left .ranking-table .rank-list .rank-list-header .album > img {
  width: 100%;
  height: 100%;
}

.main .area-left .ranking-table .rank-list .rank-list-header .album .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: block;

  background-position: -145px -57px;
}

.main .area-left .ranking-table .rank-list .rank-list-header .info .title {
  padding: 15px;

  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.main .area-left .ranking-table .rank-list .rank-list-header .info .title:hover {
  text-decoration: underline;
}

.main .area-left .ranking-table .rank-list .rank-list-header .info .icons {
  display: flex;
  padding: 15px;
}

.main .area-left .ranking-table .rank-list .rank-list-header .info .icons > a {
  display: block;
  width: 22px;
  height: 22px;
}

.main .area-left .ranking-table .rank-list .rank-list-header .icon-play {
  background-position: -267px -205px;
}

.main .area-left .ranking-table .rank-list .rank-list-header .icon-play:hover {
  background-position: -267px -235px;
}

.main .area-left .ranking-table .rank-list .rank-list-header .icon-collect {
  margin-left: 10px;
  background-position: -300px -205px;
}

.main .area-left .ranking-table .rank-list .rank-list-header .icon-collect:hover {
  background-position: -300px -235px;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item {
  display: flex;
  
  height: 32px;
  padding: 0 10px;

  line-height: 32px;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item .music-no {
  width: 35px;
  text-align: center;

  font-size: 16px;
  color: #666;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item:nth-child(-n+3) .music-no {
  width: 35px;
  text-align: center;

  font-size: 16px;
  font-weight: 800;
  color: #c10d0c;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item .music-name {
  flex: 1;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  color: #000;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item .music-name:hover {
  text-decoration: underline;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item .music-operations {
  display: none;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item:hover .music-operations {
  display: flex;
  align-items: center;
  width: 82px;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item .music-operations > a {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item .music-operations .icon-play {
  background-position: -267px -268px;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item .music-operations .icon-play:hover {
  background-position: -267px -288px;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item .music-operations .icon-add {
  background-position: 2px -698px;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item .music-operations .icon-add:hover {
  background-position: -20px -698px;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item .music-operations .icon-collect {
  background-position: -297px -268px;
}

.main .area-left .ranking-table .rank-list .rank-list-content .item .music-operations .icon-collect:hover {
  background-position: -297px -288px;
}

.main .area-left .ranking-table .rank-list .rank-list-content .see-all {
  display: block;
  height: 32px;
  padding-right: 25px;

  line-height: 32px;
  color: #000;
  text-align: right;
}

.main .area-left .ranking-table .rank-list .rank-list-content .see-all:hover {
  text-decoration: underline;
}

.main .area .area-right {
  width: 250px;
}

.main .user-login {
  width: 250px;
  height: 126px;
  background-position: 0 0;
}

.main .user-login .desc {
  width: 205px;
  padding: 16px 0;
  margin: 0 auto;
  
  color: #666;
  font-size: 12px;
  line-height: 22px;
}

.main .user-login .btn {
  display: block;

  width: 100px;
  height: 31px;
  margin: 0 auto;
  background-position: -110px -195px;

  color: #fff;
  line-height: 31px;
  text-align: center;
}

.main .resident-singer {
  width: 250px;
  margin-top: 15px;
}

/* 在这里我们增加此处的特殊样式 */
.main .resident-singer .top-title {
  height: 23px;
  margin: 0 20px;
}

.main .resident-singer .singer-list {
  margin-top: 20px;
}

.main .singer-list .item {
  display: flex;

  width: 210px;
  height: 62px;
  margin: 13px auto;

  background-color: #fafafa;
}

.main .singer-list .item .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding-left: 15px;
  border: 1px solid #e9e9e9;
  border-left: none;

  overflow: hidden;
  white-space: nowrap;
}

.main .singer-list .item .info .singer {
  font-size: 14px;
  color: #000;
}

.main .singer-list .item .info .desc {
  font-size: 12px;
  color: #666;
}

.main .resident-singer .apply-btn {
  display: block;
  width: 210px;
  height: 31px;
  margin: 0 auto;

  line-height: 31px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  box-sizing: border-box;
  color: #000;
  /* i元素会把apply-btn完全盖上，所以要有个padding-right，把右侧的bgi按钮封露出来 */
  padding-right: 5px;

  background: url(https://s2.music.126.net/style/web2/img/button2.png?4bf317ee6cb33fbee180e28daf7eb1fb) right -182px;
}

.main .resident-singer .apply-btn > i {
  display: block;
  height: 31px;
  
  /* 为了让按钮中的文字居中，就要左侧也有个padding */
  padding-left: 5px;

  background: url(https://s2.music.126.net/style/web2/img/button2.png?4bf317ee6cb33fbee180e28daf7eb1fb) 0 -59px;
}

.main .popular-anchors .top-title {
  height: 23px;
  margin: 20px 20px;
}

.main .popular-anchors .anchors-list > li {
  margin: 10px auto;
}

.main .popular-anchors .anchors-list .item {
  display: flex;
  justify-content: space-between;
  
  width: 210px;
  height: 40px;
  margin: 0 auto;

}

.main .anchors-list .item .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding-left: 10px;
  
  /* 这里必须要设置此属性，不然info里的desc元素的文字超出省略号的效果会失效，此处为flex布局与white-space: nowrap属性的冲突 */
  overflow: hidden;
}

.main .anchors-list .item .info .anchor {
  font-size: 12px;
  color: #000;

  /* 这么设置了，要在flex-container里加上overflow: hidden，要不然失效了 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .anchors-list .item .info .desc {
  font-size: 12px;
  color: #666;

  /* 这么设置了，要在flex-container里加上overflow: hidden，要不然失效了 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}