/*
* 重置一些浏览器自己加的样式
*/

body, h1, ul, li, p, h1, h2, h3 {
  margin: 0;
  padding: 0;

  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

a, i{
  text-decoration: none;
  font-style: normal;
}

ul, li, ol {
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
  /* 去掉input的边框 */
  outline: none;
  border: none;
}